.todo-list-item {
  display: flex;
  width: 100%;
  top: 0;
  justify-content: space-between;
  .wrapper-title::first-letter {
    text-transform: capitalize;
  }
  .title {
    font-family: Open Sans;
    font-size: 20px;
  }
  .title:first-letter {
    text-transform: capitalize;
  }
  .btn-grope {
    display: flex;
    align-items: center;
  }
  .btn-delete {
    font-size: 18px;
    margin: 0px 5px;
    cursor: pointer;
  }
  .btn-edit {
    font-size: 18px;
    margin: 0px 5px;
    cursor: pointer;
  }
}
