.item-add-form {
  display: flex;
  box-sizing: border-box;
  max-width: 58%;
  margin-top: 24px;
  margin-left: 64px;
  position: relative;
  .item-add-form__input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    padding: 2px 10px;
    border: 1px solid silver;
    outline: none;
  }
  .btn-input {
    width: 7%;
    background-color: rgb(114, 60, 150);
    border: 1px solid silver;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
  }
  .todo-total-on-list {
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    bottom: -40px;
    background-color: #fef6ff;
    color: #550dc9;
  }
}
